.vscode/
.idea/
node_modules/
package-lock.json
code_records/
scratch.js
bots/**/action-code/**
bots/**/
keys.json
services/viaproxy/jars/**
services/viaproxy/logs/**
services/viaproxy/plugins/**
services/viaproxy/ViaLoader/**
services/viaproxy/saves.json
services/viaproxy/viaproxy.yml
tmp/
wandb/
experiments/
andy_*.json
jill_*.json
src/models/logs/*
server_data/*
results/*
tasks/construction_tasks/test_multiagent_construction_tasks.json
tasks/construction_tasks/train_multiagent_construction_tasks.json
tasks/construction_tasks/test/**
tasks/construction_tasks/train/**
server_data*
